node-red/テストflows.json
[{"id":"12ce9e64.d2e7e2","type":"tab","label":"Function_Test_Flow","disabled":false,"info":""},{"id":"5e7fde2c.0fd2e","type":"usbcamera","z":"12ce9e64.d2e7e2","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","name":"","x":270,"y":100,"wires":[["9fdc5396.f91aa"]]},{"id":"72df0a20.50cd64","type":"inject","z":"12ce9e64.d2e7e2","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["5e7fde2c.0fd2e"]]},{"id":"23e69497.96d41c","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":100,"wires":[]},{"id":"9fdc5396.f91aa","type":"opencv","z":"12ce9e64.d2e7e2","detect":"FACE_CASCADE","output":"json","name":"","x":440,"y":100,"wires":[["23e69497.96d41c"]]},{"id":"fd8780d1.351f1","type":"inject","z":"12ce9e64.d2e7e2","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["ef69d4ed.9aeb38"]]},{"id":"33835955.eb8446","type":"watson-text-to-speech","z":"12ce9e64.d2e7e2","name":"Watson_Text2Speech","lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"ja-JP_EmiVoice","voicehidden":"ja-JP_EmiVoice","format":"audio/wav","password":"Dualcase00","apikey":"UBWhPgjTfyJYHZDGrGiy79szw28uehUcMcymxpHKn0BV","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/text-to-speech/api","x":460,"y":240,"wires":[["164c8cdf.585d53"]]},{"id":"86cfec34.6e66c","type":"play audio","z":"12ce9e64.d2e7e2","name":"","voice":"12","x":850,"y":240,"wires":[]},{"id":"164c8cdf.585d53","type":"function","z":"12ce9e64.d2e7e2","name":"結果を展開","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["86cfec34.6e66c","3afae633.193daa"]]},{"id":"ef69d4ed.9aeb38","type":"function","z":"12ce9e64.d2e7e2","name":"Text_set","func":"msg.payload = \"こんにちは。僕はユニボといいます。\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["33835955.eb8446"]]},{"id":"3afae633.193daa","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":300,"wires":[]},{"id":"ac03c6e5.0e1658","type":"comment","z":"12ce9e64.d2e7e2","name":"テキストを喋らせる(watsonでtext→WAV変換)ブラウザ経由","info":"","x":235.30159759521484,"y":187.8095417022705,"wires":[]},{"id":"228b61e7.4ef6be","type":"comment","z":"12ce9e64.d2e7e2","name":"カメラ画像から顔を検知(OpenCV FaceDetection)","info":"","x":200,"y":38.57143020629883,"wires":[]},{"id":"f041ae6a.68aea","type":"microphone","z":"12ce9e64.d2e7e2","name":"","x":130,"y":620,"wires":[["6b4c2767.fc3fd8"]]},{"id":"6b4c2767.fc3fd8","type":"watson-speech-to-text","z":"12ce9e64.d2e7e2","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"0.5","band":"","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Dualcase00","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":320,"y":620,"wires":[["7128eeb.f020d1"]]},{"id":"7128eeb.f020d1","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":620,"wires":[]},{"id":"1705d933.d9f177","type":"Slack Bot In","z":"12ce9e64.d2e7e2","name":"Slack-read","apiToken":"xoxb-352006878416-693945350563-2T81hEL0pSYXoWfLWhfCSegh","channel":"testing","x":102.66667175292969,"y":754.3333377838135,"wires":[[]]},{"id":"a89132da.174cc","type":"Slack Bot Out","z":"12ce9e64.d2e7e2","name":"Slack-write","apiToken":"xoxb-352006878416-693945350563-2T81hEL0pSYXoWfLWhfCSegh","channel":"#testing","x":297.66667556762695,"y":753.3333377838135,"wires":[]},{"id":"4af87e5.c8d2b8","type":"inject","z":"12ce9e64.d2e7e2","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":980,"wires":[["3e5a224e.6c3cde"]]},{"id":"3e5a224e.6c3cde","type":"rpi-dht22","z":"12ce9e64.d2e7e2","name":"DHT11-Sensor","topic":"rpi-dht11","dht":"11","pintype":"0","pin":"14","x":300,"y":980,"wires":[["4c0e7e59.cd7eb","788fcbe9.b72c14"]]},{"id":"4c0e7e59.cd7eb","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":960,"wires":[]},{"id":"788fcbe9.b72c14","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"humidity","targetType":"msg","x":490,"y":1000,"wires":[]},{"id":"5adc3948.099048","type":"comment","z":"12ce9e64.d2e7e2","name":"音声を聞き取る(watsonでWAV→text変換)※この方法ではマイク入力不可","info":"","x":280,"y":560,"wires":[]},{"id":"bfb8baf3.1b67a8","type":"comment","z":"12ce9e64.d2e7e2","name":"Slackボット（取り合えずオウム返し）","info":"","x":175,"y":696.3333129882812,"wires":[]},{"id":"cf1e3e4.4ca09c","type":"comment","z":"12ce9e64.d2e7e2","name":"温度湿度センサー(DHT11)からの情報取得","info":"","x":180,"y":920,"wires":[]},{"id":"7ee6d27b.10dc6c","type":"comment","z":"12ce9e64.d2e7e2","name":"USBマイクで録音する方法","info":"","x":130,"y":1080,"wires":[]},{"id":"33e667d5.b71d08","type":"exec","z":"12ce9e64.d2e7e2","command":"arecord -D plughw:1,0 -d 5 -f cd /home/pi/Pictures/rec01.wav","addpay":false,"append":"","useSpawn":"true","timer":"5","oldrc":false,"name":"Exec arecord rec01.wav","x":430,"y":1200,"wires":[[],[],[]]},{"id":"2265c6bc.c4e16a","type":"inject","z":"12ce9e64.d2e7e2","name":"Mic録音テスト(5秒録音)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1200,"wires":[["33e667d5.b71d08"]]},{"id":"a2846aab.0ea198","type":"play audio","z":"12ce9e64.d2e7e2","name":"","voice":"0","x":1110,"y":1140,"wires":[]},{"id":"1b9f4db3.096ce2","type":"file in","z":"12ce9e64.d2e7e2","name":"","filename":"/home/pi/Pictures/rec01.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":840,"y":1140,"wires":[["a2846aab.0ea198"]]},{"id":"fd817c34.9bd69","type":"inject","z":"12ce9e64.d2e7e2","name":"動かない","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":1140,"wires":[["1b9f4db3.096ce2"]]},{"id":"4a95600.d34f7a","type":"comment","z":"12ce9e64.d2e7e2","name":"メモ","info":"コマンドラインで録音、再生する方法\n\narecord -D plughw:1,0 -d 3 -f cd /home/pi/Pictures/rec01.wav\naplay /home/pi/Pictures/rec01.wav\n\n\n※注意※\nPlay Audioノードは、ブラウザ経由で再生するもの。\n","x":570,"y":1100,"wires":[]},{"id":"3e03883e.110d28","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":1320,"wires":[]},{"id":"5f237063.f593","type":"watson-speech-to-text","z":"12ce9e64.d2e7e2","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Dualcase00","apikey":"W8t2HDw0qvNk1PXfxShz9AXGBCpoWGduqBZjN-ecQF9M","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/speech-to-text/api","x":580,"y":1320,"wires":[["3e03883e.110d28"]]},{"id":"648ab282.958cbc","type":"file in","z":"12ce9e64.d2e7e2","name":"rec01.wav","filename":"/home/pi/Pictures/rec01.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":390,"y":1320,"wires":[["5f237063.f593"]]},{"id":"70c6ff7b.82c09","type":"inject","z":"12ce9e64.d2e7e2","name":"音声テキスト変換Watson","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1320,"wires":[["648ab282.958cbc"]]},{"id":"eaf08b86.1e2de8","type":"exec","z":"12ce9e64.d2e7e2","command":"aplay /home/pi/Pictures/rec01.wav","addpay":false,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"Exec aplay rec01.wav","x":340,"y":1260,"wires":[[],[],[]]},{"id":"908de970.1cfae8","type":"inject","z":"12ce9e64.d2e7e2","name":"再生テスト","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1260,"wires":[["eaf08b86.1e2de8"]]},{"id":"aa908fd9.6567a","type":"inject","z":"12ce9e64.d2e7e2","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["37b3b956.5a4df6"]]},{"id":"cbaa8dad.87c18","type":"watson-text-to-speech","z":"12ce9e64.d2e7e2","name":"Watson_Text2Speech","lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"ja-JP_EmiV3Voice","voicehidden":"ja-JP_EmiV3Voice","format":"audio/wav","password":"Dualcase00","apikey":"UBWhPgjTfyJYHZDGrGiy79szw28uehUcMcymxpHKn0BV","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/text-to-speech/api","x":460,"y":400,"wires":[["34a428ae.6bf2d8"]]},{"id":"34a428ae.6bf2d8","type":"function","z":"12ce9e64.d2e7e2","name":"結果を展開","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["d37f73.5be6709"]]},{"id":"37b3b956.5a4df6","type":"function","z":"12ce9e64.d2e7e2","name":"Text_set","func":"msg.payload = \"こんにちは。僕はユニボといいます。\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":400,"wires":[["cbaa8dad.87c18"]]},{"id":"f2f96405.8a3428","type":"comment","z":"12ce9e64.d2e7e2","name":"日本語を喋らせる(watsonで(watsonでtext→WAV変換)本体から出力","info":"","x":255.30159759521484,"y":347.8095417022705,"wires":[]},{"id":"d37f73.5be6709","type":"file","z":"12ce9e64.d2e7e2","name":"Wav save","filename":"/home/pi/Pictures/rec02.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":840,"y":400,"wires":[["6ecdab55.3ecfc4"]]},{"id":"6ecdab55.3ecfc4","type":"exec","z":"12ce9e64.d2e7e2","command":"aplay /home/pi/Pictures/rec02.wav","addpay":false,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"Exec aplay","x":1010,"y":400,"wires":[[],[],[]]},{"id":"368c7118.3764de","type":"inject","z":"12ce9e64.d2e7e2","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["d8246502.3f03d8"]]},{"id":"48a6bb6e.779f74","type":"watson-text-to-speech","z":"12ce9e64.d2e7e2","name":"Watson_Text2Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonV3Voice","voicehidden":"ja-JP_EmiVoice","format":"audio/wav","password":"Dualcase00","apikey":"UBWhPgjTfyJYHZDGrGiy79szw28uehUcMcymxpHKn0BV","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/text-to-speech/api","x":460,"y":500,"wires":[["118966e0.359dd9"]]},{"id":"118966e0.359dd9","type":"function","z":"12ce9e64.d2e7e2","name":"結果を展開","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":500,"wires":[["7af1e367.3e16cc"]]},{"id":"d8246502.3f03d8","type":"function","z":"12ce9e64.d2e7e2","name":"Text_set","func":"msg.payload = \"hello Raspberry pi.\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":500,"wires":[["48a6bb6e.779f74"]]},{"id":"7af1e367.3e16cc","type":"file","z":"12ce9e64.d2e7e2","name":"Wav save","filename":"/home/pi/Pictures/rec02.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":840,"y":500,"wires":[["3fd43f3a.c3fc1"]]},{"id":"3fd43f3a.c3fc1","type":"exec","z":"12ce9e64.d2e7e2","command":"aplay /home/pi/Pictures/rec02.wav","addpay":false,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"Exec aplay","x":1010,"y":500,"wires":[[],[],[]]},{"id":"d89fa53b.9c1848","type":"comment","z":"12ce9e64.d2e7e2","name":"英語を喋らせる(watsonでtext→WAV変換)本体から出力","info":"","x":215.30159759521484,"y":447.8095417022705,"wires":[]},{"id":"d49e4227.41e47","type":"exec","z":"12ce9e64.d2e7e2","command":"amixer sset Mic 400 -c 1","addpay":false,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"Exec amixer","x":350,"y":1140,"wires":[[],[],[]]},{"id":"484c94d5.56430c","type":"inject","z":"12ce9e64.d2e7e2","name":"Mic録音レベル設定","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1140,"wires":[["d49e4227.41e47"]]},{"id":"9f7f7c2c.bcbba","type":"comment","z":"12ce9e64.d2e7e2","name":"Zinrai文書翻訳","info":"","x":100,"y":1480,"wires":[]},{"id":"efb599bb.f01eb8","type":"inject","z":"12ce9e64.d2e7e2","name":"Token-Get","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"3","x":100,"y":1580,"wires":[["dc47e5e5.1d6408"]]},{"id":"dc47e5e5.1d6408","type":"function","z":"12ce9e64.d2e7e2","name":"API-para-set","func":"//機能名URI\n//トークン取得\nmsg.url = 'https://auth-api.jp-east-1.paas.cloud.global.fujitsu.com/API/oauth2/token';\n//msg.method= \"POST\";\n\n//リクエストヘッダー\nmsg.headers ={\n    \"Content-Type\" : \"application/x-www-form-urlencoded\" ,\n    \"charset\" : \"UTF-8\"\n};\n//リクエストボディ\nmsg.payload ={\n    \"grant_type\" : \"client_credentials\" ,\n    \"scope\" : \"service_contract\" ,\n    \"client_id\" : \"aiservetrial080\" ,\n    \"client_secret\":\"55954ai4-4oss-5ea1-9a55-12754Fad4ai\"\n};\nreturn msg;","outputs":"1","noerr":0,"x":290,"y":1580,"wires":[["6f1402ba.5dba4c"]]},{"id":"6f1402ba.5dba4c","type":"http request","z":"12ce9e64.d2e7e2","name":"API-exec","method":"POST","ret":"txt","url":"","tls":"","x":460,"y":1580,"wires":[["607277a6.e32018"]]},{"id":"607277a6.e32018","type":"json","z":"12ce9e64.d2e7e2","name":"","property":"payload","action":"","pretty":true,"x":270,"y":1620,"wires":[["8ad6ff0b.d6447"]]},{"id":"8ad6ff0b.d6447","type":"function","z":"12ce9e64.d2e7e2","name":"global_set","func":"context.global.k5token = msg.payload.access_token;\nmsg.k5token = context.global.k5token;\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":1620,"wires":[["328e91b1.224a3e"]]},{"id":"328e91b1.224a3e","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"console":"false","complete":"k5token","x":590,"y":1620,"wires":[]},{"id":"7644e79c.c36518","type":"comment","z":"12ce9e64.d2e7e2","name":"K5-PaaSアクセストークン取得(20分毎に更新)","info":"","x":200,"y":1540,"wires":[]},{"id":"80ab4ba3.7b7c88","type":"function","z":"12ce9e64.d2e7e2","name":"API-para-set","func":"//機能名URI\n//Zinrai文書翻訳\nmsg.url = 'https://zinrai-pf.jp-east-1.paas.cloud.global.fujitsu.com/DocumentTranslation/v1/translations?langFrom=en&langTo=ja&profile=default';\n\n//リクエストヘッダー\nmsg.headers ={\n    'X-Service-Code':'FJAI000015-00001' ,\n    'Content-Type':'application/json',\n    'charset':'utf-8',\n    'X-Access-Token':context.global.k5token\n};\n\n\n//リクエストボディ\nmsg.payload ={\n    'source': msg.msg001\n};\nreturn msg;\n","outputs":"1","noerr":0,"x":450,"y":1720,"wires":[["37da6461.03adac"]]},{"id":"37da6461.03adac","type":"http request","z":"12ce9e64.d2e7e2","name":"API-exec","method":"POST","ret":"obj","url":"","tls":"","x":600,"y":1720,"wires":[["70a826f6.510938"]]},{"id":"3f3615c6.fae3da","type":"comment","z":"12ce9e64.d2e7e2","name":"Zinrai文書翻訳テスト","info":"","x":120,"y":1680,"wires":[]},{"id":"4df97dda.84ee54","type":"inject","z":"12ce9e64.d2e7e2","name":"STR 英→日","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1720,"wires":[["c1d5506c.05cc6"]]},{"id":"c1d5506c.05cc6","type":"change","z":"12ce9e64.d2e7e2","name":"","rules":[{"t":"set","p":"msg001","pt":"msg","to":"The constitution is a rule that the nation determines what the nation should not and should do in order to protect the rights and freedoms of the nation.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1720,"wires":[["80ab4ba3.7b7c88"]]},{"id":"70a826f6.510938","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response.translation","targetType":"msg","x":820,"y":1720,"wires":[]},{"id":"5a76de7d.7c05","type":"function","z":"12ce9e64.d2e7e2","name":"API-para-set","func":"//機能名URI\n//Zinrai文書翻訳\nmsg.url = 'https://zinrai-pf.jp-east-1.paas.cloud.global.fujitsu.com/DocumentTranslation/v1/translations?langFrom=ja&langTo=en&profile=default';\n\n//リクエストヘッダー\nmsg.headers ={\n    'X-Service-Code':'FJAI000015-00001' ,\n    'Content-Type':'application/json',\n    'charset':'utf-8',\n    'X-Access-Token':context.global.k5token\n};\n\n\n//リクエストボディ\nmsg.payload ={\n    'source': msg.msg001\n};\nreturn msg;\n","outputs":"1","noerr":0,"x":450,"y":1760,"wires":[["9b56142d.317ce8"]]},{"id":"9b56142d.317ce8","type":"http request","z":"12ce9e64.d2e7e2","name":"API-exec","method":"POST","ret":"obj","url":"","tls":"","x":600,"y":1760,"wires":[["556711ff.9a4b"]]},{"id":"189685b4.53c81a","type":"inject","z":"12ce9e64.d2e7e2","name":"STR 日→英","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1760,"wires":[["b2861862.db0a18"]]},{"id":"b2861862.db0a18","type":"change","z":"12ce9e64.d2e7e2","name":"","rules":[{"t":"set","p":"msg001","pt":"msg","to":"憲法は、国民の権利、自由を守るために、国がやってはいけないこと、またはやるべきことについて国民が定めた決まりです。","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1760,"wires":[["5a76de7d.7c05"]]},{"id":"556711ff.9a4b","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response.translation","targetType":"msg","x":820,"y":1760,"wires":[]},{"id":"69e9e172.c05dc","type":"usbcamera","z":"12ce9e64.d2e7e2","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","name":"","x":290,"y":1960,"wires":[["97bbede2.1e279"]]},{"id":"cb5cbc27.c226b","type":"inject","z":"12ce9e64.d2e7e2","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1960,"wires":[["69e9e172.c05dc"]]},{"id":"f5daf6ae.ea1a28","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":2080,"wires":[]},{"id":"97bbede2.1e279","type":"opencv","z":"12ce9e64.d2e7e2","detect":"FACE_CASCADE","output":"json","name":"","x":280,"y":2060,"wires":[["daa0e52a.212ad8","6454d2fa.ecf67c"]]},{"id":"68b082e5.d350ac","type":"comment","z":"12ce9e64.d2e7e2","name":"カメラ画像から顔を検知(OpenCV FaceDetection)","info":"","x":220,"y":1898.5714302062988,"wires":[]},{"id":"daa0e52a.212ad8","type":"switch","z":"12ce9e64.d2e7e2","name":"","property":"payload.0","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":2080,"wires":[["f5daf6ae.ea1a28"]]},{"id":"6454d2fa.ecf67c","type":"delay","z":"12ce9e64.d2e7e2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":2020,"wires":[["69e9e172.c05dc"]]},{"id":"ac1b374e.b36788","type":"Generic BLE in","z":"12ce9e64.d2e7e2","name":"","genericBle":"c3296b37.25d2d8","useString":true,"notification":true,"x":290,"y":2160,"wires":[["8ee1e355.e326c"]]},{"id":"2f2bc8a2.4dd748","type":"inject","z":"12ce9e64.d2e7e2","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2160,"wires":[["ac1b374e.b36788","15a4601.5d6e6a"]]},{"id":"8ee1e355.e326c","type":"debug","z":"12ce9e64.d2e7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":2160,"wires":[]},{"id":"15a4601.5d6e6a","type":"Generic BLE out","z":"12ce9e64.d2e7e2","name":"","genericBle":"c3296b37.25d2d8","x":290,"y":2220,"wires":[]},{"id":"c3296b37.25d2d8","type":"Generic BLE","z":"","localName":"abshutter","address":"ff:ff:3f:ef:c9:eb","uuid":"00001812-0000-1000-8000-00805f9b34fb","muteNotifyEvents":true,"operationTimeout":"","characteristics":[]}]