node-red/簡易翻訳flows.json
[{"id":"a978ad54.ffd4e","type":"tab","label":"かんい翻訳機","disabled":false,"info":""},{"id":"d2ede418.9fd5a8","type":"comment","z":"a978ad54.ffd4e","name":"USBマイクで5秒録音し、翻訳してスピーカ出力する","info":"","x":220,"y":40,"wires":[]},{"id":"b577aff8.a666e","type":"comment","z":"a978ad54.ffd4e","name":"録音(Pi)→音声テキスト変換(Watson)→テキスト翻訳(Zinrai)→テキスト音声変換(Watson)→スピーカ出力(Pi)","info":"","x":390,"y":80,"wires":[]},{"id":"81afef1c.9eedc","type":"exec","z":"a978ad54.ffd4e","command":"arecord -D plughw:1,0 -d 10 -f cd /home/pi/Pictures/rec00.wav","addpay":false,"append":"","useSpawn":"true","timer":"5","oldrc":false,"name":"Exec arecord rec00.wav","x":370,"y":140,"wires":[[],[],["ddb442bf.17d9e"]]},{"id":"f8f43332.6cd73","type":"inject","z":"a978ad54.ffd4e","name":"Mic録音(10S)開始","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["81afef1c.9eedc"]]},{"id":"705d515c.9d563","type":"watson-speech-to-text","z":"a978ad54.ffd4e","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Dualcase00","apikey":"W8t2HDw0qvNk1PXfxShz9AXGBCpoWGduqBZjN-ecQF9M","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/speech-to-text/api","x":520,"y":220,"wires":[["1bf4f4ac.4e5edb","8da9d7a8.0d67a8"]]},{"id":"bce04925.4890b8","type":"file in","z":"a978ad54.ffd4e","name":"rec00.wav","filename":"/home/pi/Pictures/rec00.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":310,"y":220,"wires":[["705d515c.9d563"]]},{"id":"151832be.5c3cfd","type":"inject","z":"a978ad54.ffd4e","name":"Token-Get","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"3","x":110,"y":600,"wires":[["dff168cb.9d08f8"]]},{"id":"dff168cb.9d08f8","type":"function","z":"a978ad54.ffd4e","name":"API-para-set","func":"//機能名URI\n//トークン取得\nmsg.url = 'https://auth-api.jp-east-1.paas.cloud.global.fujitsu.com/API/oauth2/token';\n//msg.method= \"POST\";\n\n//リクエストヘッダー\nmsg.headers ={\n    \"Content-Type\" : \"application/x-www-form-urlencoded\" ,\n    \"charset\" : \"UTF-8\"\n};\n//リクエストボディ\nmsg.payload ={\n    \"grant_type\" : \"client_credentials\" ,\n    \"scope\" : \"service_contract\" ,\n    \"client_id\" : \"aiservetrial080\" ,\n    \"client_secret\":\"55954ai4-4oss-5ea1-9a55-12754Fad4ai\"\n};\nreturn msg;","outputs":"1","noerr":0,"x":290,"y":600,"wires":[["a5f148de.8afe88"]]},{"id":"a5f148de.8afe88","type":"http request","z":"a978ad54.ffd4e","name":"API-exec","method":"POST","ret":"txt","url":"","tls":"","x":460,"y":600,"wires":[["80be71f5.fc1b2"]]},{"id":"80be71f5.fc1b2","type":"json","z":"a978ad54.ffd4e","name":"","property":"payload","action":"","pretty":true,"x":270,"y":640,"wires":[["e3a2158d.f6da28"]]},{"id":"e3a2158d.f6da28","type":"function","z":"a978ad54.ffd4e","name":"global_set","func":"context.global.k5token = msg.payload.access_token;\nmsg.k5token = context.global.k5token;\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":640,"wires":[["645c760f.1beb08"]]},{"id":"645c760f.1beb08","type":"debug","z":"a978ad54.ffd4e","name":"","active":false,"console":"false","complete":"k5token","x":590,"y":640,"wires":[]},{"id":"8efe6a12.719678","type":"comment","z":"a978ad54.ffd4e","name":"K5-PaaSアクセストークン取得(20分毎に更新)","info":"","x":200,"y":560,"wires":[]},{"id":"ddb442bf.17d9e","type":"switch","z":"a978ad54.ffd4e","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":160,"wires":[["bce04925.4890b8"]]},{"id":"ff39913d.a3acd","type":"http request","z":"a978ad54.ffd4e","name":"API-exec","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":640,"y":280,"wires":[["37d079df.bb20c6","7d55e35b.af00ec"]]},{"id":"b1786b72.fb9648","type":"function","z":"a978ad54.ffd4e","name":"API-para-set","func":"//機能名URI\n//Zinrai文書翻訳\nmsg.url = 'https://zinrai-pf.jp-east-1.paas.cloud.global.fujitsu.com/DocumentTranslation/v1/translations?langFrom=ja&langTo=en&profile=default';\n\n//リクエストヘッダー\nmsg.headers ={\n    'X-Service-Code':'FJAI000015-00001' ,\n    'Content-Type':'application/json',\n    'charset':'utf-8',\n    'X-Access-Token':context.global.k5token\n};\n\n\n//リクエストボディ\nmsg.payload ={\n    'source': msg.msg001\n};\nreturn msg;\n","outputs":"1","noerr":0,"x":490,"y":280,"wires":[["ff39913d.a3acd"]]},{"id":"1bf4f4ac.4e5edb","type":"change","z":"a978ad54.ffd4e","name":"","rules":[{"t":"set","p":"msg001","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["b1786b72.fb9648"]]},{"id":"271271c0.0bba4e","type":"exec","z":"a978ad54.ffd4e","command":"aplay /home/pi/Pictures/rec02.wav","addpay":false,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"Exec aplay","x":890,"y":400,"wires":[[],[],[]]},{"id":"d351094e.650688","type":"file","z":"a978ad54.ffd4e","name":"Wav save","filename":"/home/pi/Pictures/rec02.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":600,"y":400,"wires":[["271271c0.0bba4e"]]},{"id":"4c2e9771.8efc88","type":"function","z":"a978ad54.ffd4e","name":"結果を展開","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["d351094e.650688"]]},{"id":"4c3799a7.4458c8","type":"watson-text-to-speech","z":"a978ad54.ffd4e","name":"Watson_Text2Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonV3Voice","voicehidden":"ja-JP_EmiVoice","format":"audio/wav","password":"Dualcase00","apikey":"UBWhPgjTfyJYHZDGrGiy79szw28uehUcMcymxpHKn0BV","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/text-to-speech/api","x":520,"y":340,"wires":[["4c2e9771.8efc88","55f4482c.e9ed68"]]},{"id":"37d079df.bb20c6","type":"change","z":"a978ad54.ffd4e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.response.translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":340,"wires":[["4c3799a7.4458c8"]]},{"id":"8da9d7a8.0d67a8","type":"debug","z":"a978ad54.ffd4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":220,"wires":[]},{"id":"7d55e35b.af00ec","type":"debug","z":"a978ad54.ffd4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response.translation","targetType":"msg","x":900,"y":280,"wires":[]},{"id":"55f4482c.e9ed68","type":"debug","z":"a978ad54.ffd4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":360,"wires":[]},{"id":"8f7b3cd4.c9bfe","type":"inject","z":"a978ad54.ffd4e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":440,"wires":[["271271c0.0bba4e"]]},{"id":"3b3904d.ac91efc","type":"comment","z":"a978ad54.ffd4e","name":"【修正版】音声ガイダンスしてから、USBマイクで録音し、翻訳してスピーカ出力する","info":"","x":320,"y":760,"wires":[]},{"id":"5fd53807.6483a8","type":"comment","z":"a978ad54.ffd4e","name":"録音(Pi)→音声テキスト変換(Watson)→テキスト翻訳(Zinrai)→テキスト音声変換(Watson)→スピーカ出力(Pi)","info":"","x":390,"y":800,"wires":[]},{"id":"698e346c.67d5cc","type":"exec","z":"a978ad54.ffd4e","command":"arecord -D plughw:1,0 -d 10 -f cd /home/pi/Pictures/rec00.wav","addpay":false,"append":"","useSpawn":"true","timer":"5","oldrc":false,"name":"Exec arecord rec00.wav","x":350,"y":1000,"wires":[[],[],["40d4d3e1.14776c"]]},{"id":"bb36d91b.2065a8","type":"inject","z":"a978ad54.ffd4e","name":"スタート","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":840,"wires":[["dd494505.0b3848"]]},{"id":"10e4a385.a76a5c","type":"watson-speech-to-text","z":"a978ad54.ffd4e","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Dualcase00","apikey":"W8t2HDw0qvNk1PXfxShz9AXGBCpoWGduqBZjN-ecQF9M","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/speech-to-text/api","x":520,"y":1100,"wires":[["cb0b86fd.e72368","b4356742.a527b8"]]},{"id":"a01a8e17.f1283","type":"file in","z":"a978ad54.ffd4e","name":"rec00.wav","filename":"/home/pi/Pictures/rec00.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":310,"y":1100,"wires":[["10e4a385.a76a5c"]]},{"id":"40d4d3e1.14776c","type":"switch","z":"a978ad54.ffd4e","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1020,"wires":[["a01a8e17.f1283"]]},{"id":"a209d085.edf03","type":"http request","z":"a978ad54.ffd4e","name":"API-exec","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":640,"y":1160,"wires":[["12a493a3.a9d17c","7b5dbfbc.1cd2b"]]},{"id":"17db1bea.f4f874","type":"function","z":"a978ad54.ffd4e","name":"API-para-set","func":"//機能名URI\n//Zinrai文書翻訳\nmsg.url = 'https://zinrai-pf.jp-east-1.paas.cloud.global.fujitsu.com/DocumentTranslation/v1/translations?langFrom=ja&langTo=en&profile=default';\n\n//リクエストヘッダー\nmsg.headers ={\n    'X-Service-Code':'FJAI000015-00001' ,\n    'Content-Type':'application/json',\n    'charset':'utf-8',\n    'X-Access-Token':context.global.k5token\n};\n\n\n//リクエストボディ\nmsg.payload ={\n    'source': msg.msg001\n};\nreturn msg;\n","outputs":"1","noerr":0,"x":490,"y":1160,"wires":[["a209d085.edf03"]]},{"id":"cb0b86fd.e72368","type":"change","z":"a978ad54.ffd4e","name":"","rules":[{"t":"set","p":"msg001","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1160,"wires":[["17db1bea.f4f874"]]},{"id":"ee8f6e64.d0aae","type":"exec","z":"a978ad54.ffd4e","command":"aplay /home/pi/Pictures/rec02.wav","addpay":false,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"Exec aplay","x":850,"y":1280,"wires":[[],[],[]]},{"id":"c243c5cf.cc3b88","type":"file","z":"a978ad54.ffd4e","name":"Wav save","filename":"/home/pi/Pictures/rec02.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":660,"y":1280,"wires":[["ee8f6e64.d0aae"]]},{"id":"725118bd.c8f968","type":"function","z":"a978ad54.ffd4e","name":"結果を展開","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1280,"wires":[["c243c5cf.cc3b88"]]},{"id":"13c42548.997c1b","type":"watson-text-to-speech","z":"a978ad54.ffd4e","name":"Watson_Text2Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonV3Voice","voicehidden":"en-US_AllisonV3Voice","format":"audio/wav","password":"Dualcase00","apikey":"UBWhPgjTfyJYHZDGrGiy79szw28uehUcMcymxpHKn0BV","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/text-to-speech/api","x":520,"y":1220,"wires":[["725118bd.c8f968","a30a2ad9.2220e8"]]},{"id":"12a493a3.a9d17c","type":"change","z":"a978ad54.ffd4e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.response.translation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1220,"wires":[["13c42548.997c1b"]]},{"id":"b4356742.a527b8","type":"debug","z":"a978ad54.ffd4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1100,"wires":[]},{"id":"7b5dbfbc.1cd2b","type":"debug","z":"a978ad54.ffd4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response.translation","targetType":"msg","x":900,"y":1160,"wires":[]},{"id":"a30a2ad9.2220e8","type":"debug","z":"a978ad54.ffd4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":1220,"wires":[]},{"id":"1319a997.898836","type":"inject","z":"a978ad54.ffd4e","name":"再度聞くとき(TEST)","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":1340,"wires":[["ee8f6e64.d0aae"]]},{"id":"dd494505.0b3848","type":"change","z":"a978ad54.ffd4e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"じゅうびょう、10秒以内で話しかけてください","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":900,"wires":[["390399f6.635516"]]},{"id":"390399f6.635516","type":"watson-text-to-speech","z":"a978ad54.ffd4e","name":"Watson_Text2Speech","lang":"ja-JP","langhidden":"ja-JP","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"ja-JP_EmiV3Voice","voicehidden":"ja-JP_EmiV3Voice","format":"audio/wav","password":"Dualcase00","apikey":"UBWhPgjTfyJYHZDGrGiy79szw28uehUcMcymxpHKn0BV","payload-response":false,"default-endpoint":false,"service-endpoint":"https://gateway-tok.watsonplatform.net/text-to-speech/api","x":320,"y":900,"wires":[["105507e9.2efd58"]]},{"id":"105507e9.2efd58","type":"function","z":"a978ad54.ffd4e","name":"結果を展開","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":900,"wires":[["e71b839c.b2f6d"]]},{"id":"e71b839c.b2f6d","type":"file","z":"a978ad54.ffd4e","name":"Wav save","filename":"/home/pi/Pictures/rec02.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":660,"y":900,"wires":[["76195503.393c7c"]]},{"id":"76195503.393c7c","type":"exec","z":"a978ad54.ffd4e","command":"aplay /home/pi/Pictures/rec02.wav","addpay":false,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"Exec aplay","x":810,"y":900,"wires":[[],[],["59687882.6cee98"]]},{"id":"59687882.6cee98","type":"switch","z":"a978ad54.ffd4e","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":920,"wires":[["698e346c.67d5cc"]]},{"id":"ad76b988.461cc8","type":"comment","z":"a978ad54.ffd4e","name":"マイク録音 >>","info":"","x":90,"y":1000,"wires":[]},{"id":"f9db7579.9b1f68","type":"comment","z":"a978ad54.ffd4e","name":"音声テキスト化 >>","info":"","x":110,"y":1100,"wires":[]},{"id":"28d2ab07.b7f234","type":"comment","z":"a978ad54.ffd4e","name":"テキスト翻訳 >>","info":"","x":100,"y":1160,"wires":[]},{"id":"ccb4ef42.109c7","type":"comment","z":"a978ad54.ffd4e","name":"テキスト音声化 >>","info":"","x":110,"y":1220,"wires":[]},{"id":"d41c6ae7.4e9958","type":"comment","z":"a978ad54.ffd4e","name":"スピーカ出力 >>","info":"","x":100,"y":1280,"wires":[]},{"id":"5b41847.2ce507c","type":"comment","z":"a978ad54.ffd4e","name":"例）はい。道を教えてください。","info":"","x":910,"y":800,"wires":[]}]